# **HYBRID RECOMMENDER SYSTEM**

This RS is made from a Tripadvisor's dataset which saves the user's experience as data, having in count the hotel where she/he stayed, its rating, zone, time and the type of trip (solo, familiar, business, etc). This system is composed of two sub systems, the first is a context based system that filters items according to relevance and preference on the type of trip and the item time zone. The second is collaborative filtering system that takes the last result and parse it to get the best dataset items according to the rating.

<img src="https://i.ibb.co/726t1V2/Diagrama-en-blanco.jpg" width="400"/>

Import libraries

In [209]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from math import sqrt
from sklearn.metrics import multilabel_confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
import math
from sklearn.preprocessing import MinMaxScaler

Charge Tripadvisor dataset

In [210]:
df_trip=pd.read_csv('Data_TripAdvisor_v2.csv')
df_trip.head()

                             UserID  ItemID  ...  ItemTimeZone TripType
0  5C28F393B23BB894523AE7126A7AE445  219668  ...       EASTERN     SOLO
1  3FA27F6E8AC712A82C69C4EDD8B912CC  223860  ...      MOUNTAIN     SOLO
2  B99CFBB5411EDC8881D13B7A4B313ADA   75680  ...       PACIFIC   FAMILY
3  3FA27F6E8AC712A82C69C4EDD8B912CC  224783  ...       PACIFIC     SOLO
4  7CEFF5C32BA1F3B186E7838C7D3FE25E  222984  ...       EASTERN  COUPLES

[5 rows x 9 columns]

The dataset is pretty clear so that we just need to remove the columns that we don't need.

In [211]:
df_hotel=df_trip.drop(['UserID','Rating','UserState','UserTimeZone','TripType'], 1).drop_duplicates(subset=['ItemID'])
df_trip = df_trip.drop('UserState', 1)
df_trip = df_trip.drop('UserTimeZone', 1)
df_trip = df_trip.drop('ItemState', 1)
df_trip.head()

                             UserID  ItemID  ...  ItemTimeZone TripType
0  5C28F393B23BB894523AE7126A7AE445  219668  ...       EASTERN     SOLO
1  3FA27F6E8AC712A82C69C4EDD8B912CC  223860  ...      MOUNTAIN     SOLO
2  B99CFBB5411EDC8881D13B7A4B313ADA   75680  ...       PACIFIC   FAMILY
3  3FA27F6E8AC712A82C69C4EDD8B912CC  224783  ...       PACIFIC     SOLO
4  7CEFF5C32BA1F3B186E7838C7D3FE25E  222984  ...       EASTERN  COUPLES

[5 rows x 6 columns]

In [212]:
df_hotel.head()

   ItemID    ItemCity ItemState ItemTimeZone
0  219668  GREENSBORO        NC      EASTERN
1  223860     PHOENIX        AZ     MOUNTAIN
2   75680     ANAHEIM        CA      PACIFIC
3  224783     SEATTLE        WA      PACIFIC
4  222984       MIAMI        MI      EASTERN

## **Context Based RS**

https://www.datacamp.com/community/tutorials/recommender-systems-python

The first step is to relate items (hotels) with its type of trip preferred.

In [213]:
df_item = df_trip[['ItemID','Rating','TripType']]
df_item.head()

   ItemID  Rating TripType
0  219668       5     SOLO
1  223860       5     SOLO
2   75680       5   FAMILY
3  224783       5     SOLO
4  222984       5  COUPLES

Group ItemID and TripType to count how many votes has gotten each present combination

In [214]:
df_count=df_item.groupby(['ItemID','TripType'],sort=False).size().reset_index(name='Count')
df_count=df_count[df_count['Count'] >= 1]
df_count.head()

   ItemID TripType  Count
0  219668     SOLO      2
1  223860     SOLO      4
2   75680   FAMILY     22
3  224783     SOLO     12
4  222984  COUPLES      4

Set weights to each combination for estimating the overall preference according to the context. We take in count the number of votes and the total rating mean by applying this formula:

\begin{equation}
\text Weight = \left({{\bf v} \over {\bf v} + {\bf p}} \cdot R\right) + \left({{\bf p} \over {\bf v} + {\bf p}} \cdot Tmean\right)
\end{equation}

Where

- v is the number of votes for the hotel
- p is the minimum votes required to be considered (Percentile 75)
- R is the average rating of the hotel for the current context value
- Tmean is the mean rating across the whole dataset

In [215]:
item_list=list(df_item['ItemID'].unique())
context_list=list(df_item['TripType'].unique())
m={}
w=[]
p75=df_trip['UserID'].value_counts().quantile(0.75)
p90=df_trip['UserID'].value_counts().quantile(0.90)
tmean=df_trip['Rating'].mean()
for i in item_list:
  mean=df_item[df_item['ItemID']==i]['Rating'].mean()
  m[i]=mean
for (i,v) in zip(df_count['ItemID'].tolist(),df_count['Count'].tolist()):
  r=m[i]
  weight=(v/(v+p75)*r)+(p75/(v+p75)*tmean)
  w.append(weight)
df_count['Weight']=w
df_trip_weighted=df_count[df_count['Count']>=p75] #skip values under p75

In [216]:
df_trip_weighted.head()

     ItemID  TripType  Count    Weight
2     75680    FAMILY     22  4.223098
3    224783      SOLO     12  3.939766
12   224305   COUPLES      6  4.335482
17   122343  BUSINESS     13  4.307084
22  1724006   COUPLES      7  3.792373

Now let's find the response of the users versus each type of trip. First we create a table of ratings between items and users.

In [217]:
rating = pd.pivot_table(df_trip, values='Rating', index=['ItemID'], columns=['UserID'])
rating.sort_index(axis=1, inplace=True)
rating.head()

UserID  002F55BB8DD9A8C7DD01C3C939D378A5  ...  FFDC7B441CB2676EC8CA21CFB8EB5803
ItemID                                    ...
72389                                NaN  ...                               NaN
72396                                NaN  ...                               NaN
72572                                NaN  ...                               NaN
72670                                NaN  ...                               NaN
72993                                NaN  ...                               NaN

[5 rows x 2371 columns]

Create item's profile

In [218]:
item_profile=df_trip[['ItemID','TripType']]
trip_type=pd.get_dummies(item_profile['TripType'])
item_profile.drop(columns='TripType', inplace=True)
item_profile=pd.concat([item_profile, trip_type], axis=1)
item_profile.sort_values('ItemID', inplace=True)
item_profile.set_index('ItemID', inplace=True)
item_profile=item_profile.groupby(['ItemID']).sum()
item_profile.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

        BUSINESS  COUPLES  FAMILY  FRIENDS  SOLO
ItemID
72389          1        1       0        0     0
72396          0        1       1        0     0
72572          0        3       0        0     2
72670          1        0       0        0     0
72993          1        2       0        1     1

Create a user's profile

In [219]:
users=rating.columns
df_users=pd.DataFrame(columns= context_list)
for i in tqdm(range(len(users))):
    working_df = item_profile.mul(rating.iloc[:,i], axis=0)
    working_df.replace(0, np.NaN, inplace=True)    
    df_users.loc[users[i]] = working_df.mean(axis=0)
df_users.head()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2371/2371 [00:08<00:00, 287.26it/s]

                                   SOLO  FAMILY  ...   BUSINESS    FRIENDS
002F55BB8DD9A8C7DD01C3C939D378A5  14.40   20.00  ...  15.600000   4.000000
003BC319571635C677EEFC610BD066F5  25.40   19.25  ...  31.250000   5.000000
005A406ACD437714CC6CBE74F9AD7215  10.20   18.00  ...   8.500000   7.333333
009119643396C998B80B416F1A3AB288  25.00   22.80  ...  40.666667  15.000000
00BBAC3339F576E164FF9F627489481C  30.25   16.50  ...  36.000000  11.000000

[5 rows x 5 columns]

Check the relevance by the means of Term Frequency and Inverse Document Frequencyand then create TF-IDF matrix.

In [220]:
tf = item_profile.sum()
idf = (len(df_trip)/tf).apply(np.log)
df_TF_IDF=item_profile.mul(idf.values)
df_TF_IDF.head()

        BUSINESS   COUPLES    FAMILY   FRIENDS      SOLO
ItemID
72389   1.624006  1.103705  0.000000  0.000000  0.000000
72396   0.000000  1.103705  1.579554  0.000000  0.000000
72572   0.000000  3.311114  0.000000  0.000000  3.107736
72670   1.624006  0.000000  0.000000  0.000000  0.000000
72993   1.624006  2.207409  0.000000  2.923289  1.553868

Predict user by TF-IDF and normalize values using Z-Score:

<img src="https://www.datavedas.com/wp-content/uploads/2018/01/1.1.2.1.2-Z-Scores-Z-Test-and-Probability-Distribution-1.jpg" width="200"/>

In [221]:
df_predict=pd.DataFrame()
for i in tqdm(range(len(users))):
  working_df=df_TF_IDF.mul(df_users.iloc[i], axis=1)
  df_predict[users[i]]=working_df.sum(axis=1)
df_predict=(df_predict-df_predict.stack().mean())/df_predict.stack().std()
df_predict.stack().quantile(0.97)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 2371/2371 [00:06<00:00, 365.04it/s]

2.54576241429525

In [222]:
df_predict.head()

        002F55BB8DD9A8C7DD01C3C939D378A5  ...  FFDC7B441CB2676EC8CA21CFB8EB5803
ItemID                                    ...
72389                          -0.523456  ...                         -0.534005
72396                          -0.500638  ...                         -0.563361
72572                          -0.376970  ...                         -0.342607
72670                          -0.561292  ...                         -0.598408
72993                          -0.361372  ...                         -0.336040

[5 rows x 2371 columns]

Definition of the context based RS function that returns a set of recommendations skipping hotels that user has already gone and checking if the user is new. The new user's recommendations came from the trip_weighted dataframe that assess the overall preference based on the type of trip.

In [223]:
def context_based(user,trip_type_arg='FAMILY'):
  
  if user in df_trip['UserID'].values: 
    item_no = df_predict.index
    user_predicted_rating = df_predict[user]
    user_rating_hotel= pd.concat([user_predicted_rating,df_hotel.set_index('ItemID')], axis=1)
    already_gone=df_trip[df_trip['UserID'].isin([user])]['ItemID']
    all_rec=user_rating_hotel[~user_rating_hotel.index.isin(already_gone)]
    return all_rec.sort_values(by=[user],ascending=False)#.iloc[0:10]#
  else:
    rec_new_user=df_trip_weighted.sort_values(by=['Weight'],ascending=False)
    rec_new_user=rec_new_user[rec_new_user['TripType']==trip_type_arg]
    rec_new_user=rec_new_user.merge(df_hotel).set_index('ItemID')
    rec_new_user=rec_new_user.drop(['TripType','Count'],1)
    return rec_new_user.sort_values(by=['Weight'],ascending=False)#.iloc[0:100]

Get recommendations from user and type of trip

In [224]:
userCF = '286008B04EC788EEA27081EA16850984'  #286008B04EC788EEA27081EA16850984  #01F7E9C238D7362D35F57FC4F3B865B6 #114364637642AD6AA2BE8CE34E02BDEB
context = context_based(userCF,'SOLO')
context.head(10)

        286008B04EC788EEA27081EA16850984      ItemCity ItemState ItemTimeZone
ItemID
675000                         15.166946      LASVEGAS        NV      PACIFIC
97704                          14.288022      LASVEGAS        NV      PACIFIC
503598                         13.848560      LASVEGAS        NV      PACIFIC
611947                         13.530246       NEWYORK        NY      EASTERN
84087                          12.713842  WASHINGTONDC        DC      EASTERN
91925                          12.090712      LASVEGAS        NV      PACIFIC
93450                          11.032175       NEWYORK        NY      EASTERN
91674                          10.839573      LASVEGAS        NV      PACIFIC
224783                         10.711935       SEATTLE        WA      PACIFIC
482154                         10.337089      SANDIEGO        CA      PACIFIC

# Collabotarive Filtering

In [225]:
#df_trip.head()

Extraction of the user from dataset

In [226]:
#userInput = [
#            {'ItemID':219668, 'Rating':4.5, 'TripType':'SOLO'},
#            {'ItemID':75680, 'Rating':5, 'TripType':'FAMILY'},
#            {'ItemID':222984, 'Rating':3.5, 'TripType':'COUPLES'},
#            {'ItemID':89361, 'Rating':3.1, 'TripType':'BUSINESS'},
#            {'ItemID':72993, 'Rating':4.5, 'TripType':'FRIENDS'},
#        ]

userInput = df_trip['UserID'] == userCF
inputHotel = df_trip[userInput]
inputHotel

                                UserID   ItemID  ...  ItemTimeZone  TripType
23    286008B04EC788EEA27081EA16850984  1724006  ...       EASTERN   COUPLES
28    286008B04EC788EEA27081EA16850984   102466  ...       EASTERN  BUSINESS
34    286008B04EC788EEA27081EA16850984    88823  ...       CENTRAL      SOLO
40    286008B04EC788EEA27081EA16850984    89377  ...       EASTERN   COUPLES
41    286008B04EC788EEA27081EA16850984    85380  ...       EASTERN      SOLO
6020  286008B04EC788EEA27081EA16850984   249126  ...       EASTERN  BUSINESS
6027  286008B04EC788EEA27081EA16850984   578192  ...      MOUNTAIN  BUSINESS
6032  286008B04EC788EEA27081EA16850984   114764  ...       CENTRAL      SOLO

[8 rows x 6 columns]

Search the hotels of the user in the dataset

In [227]:
userSubset = df_trip[df_trip['ItemID'].isin(inputHotel['ItemID'].tolist())]
userSubset.head()

                              UserID   ItemID  ...  ItemTimeZone  TripType
23  286008B04EC788EEA27081EA16850984  1724006  ...       EASTERN   COUPLES
28  286008B04EC788EEA27081EA16850984   102466  ...       EASTERN  BUSINESS
34  286008B04EC788EEA27081EA16850984    88823  ...       CENTRAL      SOLO
40  286008B04EC788EEA27081EA16850984    89377  ...       EASTERN   COUPLES
41  286008B04EC788EEA27081EA16850984    85380  ...       EASTERN      SOLO

[5 rows x 6 columns]

3 users most similar with the user

In [228]:
userSubsetGroup = userSubset.groupby(['UserID'])
userSubsetGroup = sorted(userSubsetGroup, key=lambda x: len(x[1]),reverse=True)
userSubsetGroup[0:3]

[('286008B04EC788EEA27081EA16850984',
                                  UserID   ItemID  ...  ItemTimeZone  TripType
  23    286008B04EC788EEA27081EA16850984  1724006  ...       EASTERN   COUPLES
  28    286008B04EC788EEA27081EA16850984   102466  ...       EASTERN  BUSINESS
  34    286008B04EC788EEA27081EA16850984    88823  ...       CENTRAL      SOLO
  40    286008B04EC788EEA27081EA16850984    89377  ...       EASTERN   COUPLES
  41    286008B04EC788EEA27081EA16850984    85380  ...       EASTERN      SOLO
  6020  286008B04EC788EEA27081EA16850984   249126  ...       EASTERN  BUSINESS
  6027  286008B04EC788EEA27081EA16850984   578192  ...      MOUNTAIN  BUSINESS
  6032  286008B04EC788EEA27081EA16850984   114764  ...       CENTRAL      SOLO

  [8 rows x 6 columns]),
 ('8D74835A8F3F2B1F50FA5A58254A89D1',
                                  UserID  ItemID  ...  ItemTimeZone  TripType
  4152  8D74835A8F3F2B1F50FA5A58254A89D1   88823  ...       CENTRAL      SOLO
  4189  8D74835A8F3F2B1F50FA5A58254A89D1  102466  ...       EASTERN  BUSINESS
  9758  8D74835A8F3F2B1F50FA5A58254A89D1  102466  ...       EASTERN  BUSINESS

  [3 rows x 6 columns]),
 ('0BEA942204D75F2C83E29BDC54AA627C',
                                  UserID   ItemID  ...  ItemTimeZone  TripType
  1325  0BEA942204D75F2C83E29BDC54AA627C  1724006  ...       EASTERN   COUPLES
  7232  0BEA942204D75F2C83E29BDC54AA627C   578192  ...      MOUNTAIN  BUSINESS

  [2 rows x 6 columns])]

In [229]:
#userSubsetGroup = userSubsetGroup[0:100]

Pearson coefficient calculation

In [230]:
pearsonCorrelationDict = {}
for name, group in userSubsetGroup:
    group = group.sort_values(by='ItemID')
    inputHotel = inputHotel.sort_values(by='ItemID')
    nRatings = len(group)
    temp_df = inputHotel[inputHotel['ItemID'].isin(group['ItemID'].tolist())]
    tempRatingList = temp_df['Rating'].tolist()
    tempGroupList = group['Rating'].tolist()
    
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(abs(Sxx*Syy))
    else:
        pearsonCorrelationDict[name] = 0

pearsonCorrelationDict.items()

dict_items([('286008B04EC788EEA27081EA16850984', 1.0), ('8D74835A8F3F2B1F50FA5A58254A89D1', 0.9999999999999972), ('0BEA942204D75F2C83E29BDC54AA627C', 1.0), ('2DD913D1FE05AF081729771A0B81FF11', 1.0), ('343F5AA3FBDB0794C3D5A8F6FF222BF2', 0), ('3E81076073AFB11D56C822FD66ECF7AA', 0), ('54F9645134FF4CB921C3F845C8C06497', 1.0), ('65AAC318AAE7741E1A73CCC7492808BB', 0), ('68487B40EC5ED9FA2F73DACFC06C0078', 1.0), ('743C005A124C44B0CC449550BBB7A62E', 0), ('86C8BCE8FCF7E9B237C05FAEA73BBFE9', 0), ('E4BD9A4CD7872825F3585ECFFF4074B7', 0), ('F931CA7AD30AEBF56ED69D4EA02E8915', 0), ('00D2B226DD86C30EDFF4B612FCF45131', 0), ('01F6894476E32CCCE95F0F938B472F75', 0), ('04260B123404A3BB64108C0210CF2079', 0), ('047C4E52A3B90705AD7CEA7E92B470DE', 0), ('05A7527A96BC315E9ABECE659DB3687E', 0), ('07038C23A2EC9ABFBC1E489527E5D0AB', 0), ('08ED513F301A2C8591443C9A7F8A3849', 0), ('0981EA43801682A95BC06A103319E6B4', 0), ('0E3B05FCB645534C918C932D09CB8649', 0), ('1248A1751B3B2E37E492E7042EB90DAF', 0), ('135B28285CE0B83577E558CA85D4A2C0', 0), ('139CEBC96F44E378F980EC68749F0DC1', 0), ('1609426679198144A65A85C951CEFEF3', 0), ('16267B510377A3C8214D09A29F96AAC2', 0), ('1659CB4C54CE66D6E1FC15333591E338', 0), ('166AE77BC5EF4690EDB4BEF11B5C00E0', 0), ('169314F596C4637E372700050305160A', 0), ('17371639F1E7E01768BC9D330239337B', 0), ('174023CA9DDED23DF063B76B1F4642AF', 0), ('1753E5607372F2997E28840CDCDD0368', 0), ('182411D2044991B2E68479D62CFF75F8', 0), ('184B16C379BC7D1D676E5B3727CC688C', 0), ('184DAFC41DB68A18C21E467B4F6F868E', 0), ('18C5304CD73FD18C0571CBEFE009CF91', 0), ('18FBC94CBDB9285041011AC0CAA192C8', 0), ('195873A3D9350BA38EF6EC9FBE60DE9A', 0), ('198C193CFF7CDE1B61DE684FE9C0C7A3', 0), ('1A3FBDA59883EFE2CAB2DB6631A58535', 0), ('1CF59D870D0E95DF054D928C334154D1', 0), ('1E53464038565AD786FCA829907BBC92', 0), ('20A4EFC475E6F8B29BA0B0040D7F59CD', 0), ('226D381E07E1940CDADD2578F0C853FA', 0), ('2277A2B0385947B6B3B2412E9A4133E8', 0), ('22F6E9C5BF0F4B4047B0AB07A8B7E450', 0), ('2310DD46AB4AA8C848A5C3FE8E1E3566', 0), ('2324B27FB0715E37B491A9449967E286', 0), ('27EABA21DBC2D3F91163324E18B9CF5E', 0), ('2866242308F0A833178990E3063F1119', 0), ('2B45F1731D019AE726D7DFAE7279EA02', 0), ('2C3DCAF74DB44C24B124C2B234F055DC', 0), ('2ECFFBAC1DADDFBDBC38E2307BD15777', 0), ('303CE0F06655C73D21A63171B64DF6B7', 0), ('31B4C0CBEE9475B05C58224A59BABE5A', 0), ('32F33182EB624CD0073CFFC408A1F37E', 0), ('3B50F73FD288BFB5BD6A70328E954002', 0), ('3F48A0CABA88F8478B69116F9A1F1F45', 0), ('4020E1A312CBA2E6F64B84E172C8C971', 0), ('41B8080F422FC8D0CBA18C521548844E', 0), ('42954ADE69BBF0D9F24526DA3A3E2FB8', 0), ('4358024C8E21E776B40FA9E4C99E56BF', 0), ('449D9125825E35F7A1EFF049DE18BA1A', 0), ('4731C0251D7B158C191CFEE537B6B36E', 0), ('4A936F096D13081DACA78BE93C34C252', 0), ('4BD92D80C4295583CD7E6D8C730FA57C', 0), ('4BE205BD98E5E198DA629B083DC7EB1E', 0), ('5100919DBA6B442ADCE7E38A8978240E', 0), ('512A492C51EDFF2CEAAA72483D05E7FD', 0), ('53D61CFEBEED409636041A661163F769', 0), ('5433FCB00E406D4B276BB71533EE5901', 0), ('55EAC3B8C1CF695819C80D47F93AD090', 0), ('5648DB2DF6A560DEC2A563194F112511', 0), ('57A320CBED36C3E02EBEC342FD7A9AC9', 0), ('5D13294DA35A168E4230C1D20799282B', 0), ('60A4D7094E8773230120388C12426A49', 0), ('60AD0CB7BCFCBD034181CCDEB3B06904', 0), ('6482ECD0331CAD18DC468EFE6B0A21AD', 0), ('654CC94EBBC4A5C10D476A3F48650C09', 0), ('67EF16B50BE559A3B5F4BA418105B913', 0), ('697FD61C72508D7E23F632A2D1555BC8', 0), ('69EAE636229B7B421ED8C09A454F2C52', 0), ('6D1B4433BED6AE3E712182E0B397CCFE', 0), ('6ED47D33A0642DB133B055F66BD57953', 0), ('6F0C7C8ACEE643497B2DF567E1087B79', 0), ('6FB9CC1D230CD4E0F7373A35AD83EC6B', 0), ('72DAE9634D3E7B928CB2F8C12D8F2344', 0), ('730E197B2BC145CC4A9C189D224281EB', 0), ('73C986ED16B629CE61B0F0334ECA1834', 0), ('75904C385D81EB038F1B0B96322CD443', 0), ('76C6E2AACBF910E8BC3CA40DC848741A', 0), ('791A01D544BCEF1B617552E1B5A964B1', 0), ('7A5F7EBBEC13309F8C2188C6F3C4AB0D', 0), ('7AF15BCDC4438266C9F98C7CEE4FC040', 0), ('7BC0AF07CC240F2F614A865BBE21B5AA', 0), ('7D2D38860C240E52F2C090A25877330F', 0), ('7D40790DEBBFB18A7ACB84CD571C22A4', 0), ('7E73E0C84BD0CDF2673A0AA4DAE3F2B2', 0), ('810E0340F8679385E522CC7A660517A3', 0), ('83AA195E4BD9EB9DE7A3B63A103D6683', 0), ('83B2E4724FC73A1DF8E55ED8910B5E5F', 0), ('84C799DE5BCD26CF7E5C32DF3BD32599', 0), ('85223AA53CB0DE6A6EB7B3C1E99981B1', 0), ('85EB8316CF08A8330CD3FFF2A8331511', 0), ('88D03D8AB381BD18345B8FF34E9DC0AD', 0), ('88EFFC86D945ADCEE72F6E93C08F9002', 0), ('89B51333F1476ED1869D0617987F022B', 0), ('8AE0A5F56DE525C2BCDF87D7E54E9DF0', 0), ('8B91FC869912189992E16C12403DC129', 0), ('8BE287634279C34EAE7C46B0C0E3B6FB', 0), ('8C4C582ED81DAB758AE71DA6D5F4CDE5', 0), ('8D4984DE731E2249E4F5062480A272DF', 0), ('8FC21528E7967F84701BBDC6CFB6DB09', 0), ('9266C6DECA3AAAC0B579F1151A89B69A', 0), ('997502F65A2DC9C0664EF9990ABDC125', 0), ('9A75DA648514FDC4FDA0CD34BD84AB4C', 0), ('9ABA99468106AF436F7B6A0279FFCE10', 0), ('9B8D1AC96AB249A2F4F29578F0F601E5', 0), ('9C282D092D32E8DD2E94646D20E08AD9', 0), ('9E271CD821EC9F8D91F68CD336432239', 0), ('9E7EF4894EE0C775AE6052BE6B23CF15', 0), ('9FF630DF29C67791978600FC5B2DBFE8', 0), ('A22F9C65FB3A6535BF11FD921184D9D0', 0), ('A4009FDE2C6D87316038FA153F1CC8CB', 0), ('AA14503AA26F21025966D72E84ECD2AE', 0), ('AA4EFFA115B265BAB355A224FC824F75', 0), ('AB12F4F66CC053E38B748AB1D647FD76', 0), ('ABC6674F7109269F84AB6E4538607540', 0), ('ADC05897359B2DB958FB3ACFEC65D1E0', 0), ('B2453708FB120012F2AD1F02F64F284E', 0), ('B29C3C0636B894836435318F3CE407DA', 0), ('B3DCCE0262A897A476333D3DB0B636F5', 0), ('B8CE1178BC13177F58BDC2ABF18FCA0E', 0), ('B993B8D653BFCBE24D2DC37056A42AF7', 0), ('BB707457A14128C4D8614139DB36E829', 0), ('BCF892CEE1BFB395CB35A68892059495', 0), ('BF3ADCA8079A15F3775390DAF85E4B27', 0), ('C0C3B6B09F4081AE595ACF80A85BF876', 0), ('C0CBC1FD1ADB76CFC48278BE3A53220E', 0), ('C49DD3DB652DD948621FA2BD3971739E', 0), ('C5887AD905E0D93832D7B42B5D4C4DB9', 0), ('C849F6F0AD1F1313B80340D1D0AC8E97', 0), ('C8D60493F3159F2BA37E8B33E1BD4C37', 0), ('C9BB14F8B2172B06E65789A3F129DCF8', 0), ('D0812024331F64B8D1B844F254E11CE5', 0), ('D0CB6203D006EA04D3E9CCEEFA9A2962', 0), ('D3528207A4AF633958985EA2B0CF8760', 0), ('D62421AE058044AADAEB10F994C4BD54', 0), ('D78A2A3A71BA2D3C1CFAAD25B7EE199A', 0), ('DFF00CD5AC5B9BF95E7F30732FCC1E90', 0), ('E0B5009762C1328A566CC78BD0D8F4A0', 0), ('E2B83474042B97BD7C00DBF6D2F907A6', 0), ('E4B830EF73A284480A2FCAFECC782D13', 0), ('E50F2ECC9F615DA99029D94A6C129604', 0), ('E527A2D766D4FE06105B4EC1238FCE09', 0), ('E659AF1B7FF5C31D21B2041A434655B4', 0), ('E6F4035098E058F6F22B1E3B78E04A08', 0), ('E7969FD408D42CA4101DD0B49C8E430C', 0), ('E984CC11DE8768C29B05A381CA08F671', 0), ('EAAC119E14ED2B2865C45854EA65AB92', 0), ('ECA8BFE0872AF020AB76DB0D3CB8466E', 0), ('F4CFE039E9E824CAB857059F4202ADE4', 0), ('F5C425A6A4FD7363FFA4C542D137201B', 0), ('F73CC60121EDAB8E6B1637FDE6A09177', 0), ('F8656B371FB5EADF1E86AD408CADF6E5', 0), ('F8740706F5BD9058E5056415FD421005', 0), ('FB7315194C4CE14AE2909AB6127C4A04', 0), ('FC25E445C8851E2AA658F0F9F5AD58FE', 0), ('FEB5DDEAB459230395D74EA02713F286', 0)])

Similar users

In [231]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['UserID'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head()

   similarityIndex                            UserID
0              1.0  286008B04EC788EEA27081EA16850984
1              1.0  8D74835A8F3F2B1F50FA5A58254A89D1
2              1.0  0BEA942204D75F2C83E29BDC54AA627C
3              1.0  2DD913D1FE05AF081729771A0B81FF11
4              0.0  343F5AA3FBDB0794C3D5A8F6FF222BF2

Top users most similar

In [232]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
topUsers.head()

   similarityIndex                            UserID
0              1.0  286008B04EC788EEA27081EA16850984
2              1.0  0BEA942204D75F2C83E29BDC54AA627C
3              1.0  2DD913D1FE05AF081729771A0B81FF11
6              1.0  54F9645134FF4CB921C3F845C8C06497
8              1.0  68487B40EC5ED9FA2F73DACFC06C0078

In [233]:
topUsersRating=topUsers.merge(df_trip, left_on='UserID', right_on='UserID', how='inner')
topUsersRating.head()

   similarityIndex                            UserID  ...  ItemTimeZone  TripType
0              1.0  286008B04EC788EEA27081EA16850984  ...       EASTERN   COUPLES
1              1.0  286008B04EC788EEA27081EA16850984  ...       EASTERN  BUSINESS
2              1.0  286008B04EC788EEA27081EA16850984  ...       CENTRAL      SOLO
3              1.0  286008B04EC788EEA27081EA16850984  ...       EASTERN   COUPLES
4              1.0  286008B04EC788EEA27081EA16850984  ...       EASTERN      SOLO

[5 rows x 7 columns]

In [234]:
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['Rating']
topUsersRating.head()

   similarityIndex                            UserID  ...  TripType  weightedRating
0              1.0  286008B04EC788EEA27081EA16850984  ...   COUPLES             5.0
1              1.0  286008B04EC788EEA27081EA16850984  ...  BUSINESS             5.0
2              1.0  286008B04EC788EEA27081EA16850984  ...      SOLO             5.0
3              1.0  286008B04EC788EEA27081EA16850984  ...   COUPLES             5.0
4              1.0  286008B04EC788EEA27081EA16850984  ...      SOLO             5.0

[5 rows x 8 columns]

In [235]:
tempTopUsersRating = topUsersRating.groupby('ItemID').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

        sum_similarityIndex  sum_weightedRating
ItemID
73587                   0.0                 0.0
73601                   0.0                 0.0
73947                   0.0                 0.0
74109                   0.0                 0.0
74190                   0.0                 0.0

In [236]:
recommendation_df = pd.DataFrame()
recommendation_df['weighted average recommendation score'] = \
tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['ItemID'] = tempTopUsersRating.index
recommendation_df = recommendation_df.dropna()
recommendation_df.head(10)

        weighted average recommendation score  ItemID
ItemID
74199                                     5.0   74199
85380                                     3.8   85380
85775                                     4.0   85775
86260                                     5.0   86260
86286                                     5.0   86286
87990                                     5.0   87990
88823                                     5.0   88823
89377                                     5.0   89377
89568                                     4.0   89568
89585                                     5.0   89585

In [237]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df.head()

         weighted average recommendation score   ItemID
ItemID
74199                                      5.0    74199
111345                                     5.0   111345
1724006                                    5.0  1724006
1513541                                    5.0  1513541
674735                                     5.0   674735

Top 10 best Hotels for the user

In [238]:
recom = df_trip.loc[df_trip['ItemID'].isin(recommendation_df.head(10)['ItemID'].tolist())]
recom.head(10)

                                UserID   ItemID  ...  ItemTimeZone  TripType
23    286008B04EC788EEA27081EA16850984  1724006  ...       EASTERN   COUPLES
527   808C21D5621C601077234855B776452B   115484  ...      MOUNTAIN  BUSINESS
544   950919199B6571171E28DA08DD72506C   503598  ...       PACIFIC  BUSINESS
560   240332824E556434431596CADAC9EA79   503598  ...       PACIFIC  BUSINESS
655   B242E765F9D375ED50528342787DDF27    74199  ...      MOUNTAIN   COUPLES
877   00E74A1E0E2A09F913F92518CFDFDD05    74199  ...      MOUNTAIN   COUPLES
882   2324B27FB0715E37B491A9449967E286  1724006  ...       EASTERN      SOLO
1119  DFA86E8F0FD77AB2A1D38B4D32337228   123534  ...       EASTERN    FAMILY
1190  D9875E76132BA98FE7A245DF3F01733C   111345  ...       EASTERN      SOLO
1192  15A52B08F9085A7AA1180CA9D2C2B931    74199  ...      MOUNTAIN    FAMILY

[10 rows x 6 columns]

# Evaluation Metrics

Extraction of predictions for the user

In [239]:
cont = df_predict.loc[recommendation_df.index,userCF]
cont = cont.to_frame()
cont.head()

         286008B04EC788EEA27081EA16850984
ItemID
74199                            4.859793
111345                           1.120132
1724006                          0.644114
1513541                          0.884095
674735                           3.488991

Combiner and Hybrid Recommender's results

In [240]:
mix = pd.DataFrame()
mix['result'] = cont[userCF]+recommendation_df['weighted average recommendation score']
rec = recommendation_df['weighted average recommendation score'].tolist()
show_results=mix.sort_values(by='result',ascending=False)
show_results.head()

           result
ItemID
503598  18.848560
97704   18.288022
89377   17.070370
102466  16.811199
91925   15.090712

Normalizing and Comparing predicted data with real data according to Items ID

\begin{equation}
value_{new} = \frac{max_{new} - min_{new}}{max_{old} - min_{old}}\times (value_{old} - max_{old}) + max_{new}
\end{equation}

In [241]:
df_rat = rating
df_rat = df_rat[df_rat.index.isin(mix.index)]
list_rat = df_rat[userCF].tolist()
list_pred = mix['result'].tolist()
prueba = pd.DataFrame(list_rat)
#prueba['list_pred'] = list_pred
prueba['list_pred'] = rec
prueba = prueba.dropna()

list_rat = prueba[0].tolist()
list_pred = prueba['list_pred'].tolist()

list_rat = pd.DataFrame(list_rat)
list_pred = pd.DataFrame(list_pred)
list_pred=((5-1)/(list_pred.max()-1)*(list_pred-list_pred.max())+5)
print(list_pred)
print(list_rat)
#print(prueba)

     0
0  5.0
1  5.0
2  5.0
3  4.5
4  4.0
5  4.0
6  3.8
7  3.0
     0
0  5.0
1  5.0
2  5.0
3  5.0
4  4.0
5  4.0
6  4.0
7  5.0

In [242]:
list_pred = list_pred.round()[0].tolist()
list_rat = list_rat.round()[0].tolist()
#
list_pred = list(map(int,list_pred))
list_rat = list(map(int, list_rat))
print(list_rat)
print(list_pred)

[5, 5, 5, 5, 4, 4, 4, 5]
[5, 5, 5, 4, 4, 4, 4, 3]

In [243]:
accuracy = accuracy_score(list_rat,list_pred)
accuracy

0.75